40 ${OTHER} ${ADJ} ${SUBJ}        ${VERB} ${OBJ}
 5 ${OTHER} ${ADJ} ${SUBJ} ${ADV} ${VERB} ${OBJ}
15 ${OTHER} ${SUBJ}        ${VERB} ${OBJ}
 5 ${OTHER} ${SUBJ} ${ADV} ${VERB} ${OBJ}
10 ${OTHER} ${VERB} ${OBJ} ${SUBJ}
 5 ${OTHER} ${ADV} ${VERB} ${OBJ} ${SUBJ}
10 ${OTHER} ${SUBJ} ${VERB1.1} ${OBJ1.1} | i~${VERB1.2} ${OBJ1.2} # on widzi i szuka
 5 ${OTHER} ${SUBJ1} ${VERB1} ${OBJ1}, ${SUBJ2} ${VERB2} ${OBJ2}
 2 ${NOUN} jak ${NOUN2}
 1 ${NOUN} jak ${ADJ2} ${NOUN2}
 1 to ${SUBJ(NE,NO_IMPL)}
 1 to ${ADJ} ${SUBJ(NE,NO_IMPL)}
 3 ${OTHER} ${VERB} ${SUBJ} ${OBJ}

 2 ${OTHER} ${SUBJ} ${VERB} ${OBJ} jak    ${ADJ2} ${NOUN2}
 2 ${OTHER} ${SUBJ} ${VERB} ${OBJ} jak            ${NOUN2}

# ====

 5 ${OTHER} ${VERB(11,IMP)} ${OBJ} # je je je zabawmy się
#if TY_DZIUNIA
 7 lubisz to
 1 chodź tu bliżej mała
 2 chodż ze mną
 1 będzie ci jak w niebie
 1 jesteś taka jak ja
 1 powiedz, czy tego chcesz
 1 nie uznaję "nie"
 7 ${OTHER} ${VERB(2,IMP,SEMANTIC(DZIUNIA))} ${OBJ}
#else
 1 możesz mieć je wszystkie
 2 tylko ona ma to coś
 2 ${OTHER} ${VERB(2,IMP,SEMANTIC(ZIOMAL))} ${OBJ}
#endif
 5 co za ${NOUN(NOT_WITH_W(ona,ty))}
 2 nie ma to jak ${ADJ} ${NOUN}
 5 łapy w górę
 3 ${OTHER} wszyscy razem
 3 ${OTHER} jeszcze raz
 2 ${OTHER} szkoda gadać
 5 ${OTHER} łapy w górę
 5 jest dobrze
 4 ${OTHER} jest dobrze
 2 ${OTHER} jest wesoło
 4 ${ADV} jest jak jest
 5 ${OBJ} ${VERB} ${SUBJ} # nadchodzi noc
 3 wtedy zrozumiałem, | że ${SUBJ} ${VERB} ${OBJ}
 1 sprawa jest prosta
 1 sprawa jest oczywista
 1 to sprawa jest oczywista
 1 to sprawa jest zajebista
 4 ${ADV} ${ADJ} ${SUBJ(NE,NO_IMPL,TAKES_ONLY(DZIUNIA))}
 1 w moich myślach ${ADJ} ${SUBJ(NE,NO_IMPL,TAKES_ONLY(DZIUNIA))}
